{% extends 'base.html.twig' %}



{% block body %}

    <div class="robust-content content container-fluid">
        <div class="content-wrapper">
          <center> <h1>hello</h1>
            <img src="{{ asset('images/logo/Orchidcreation.PNG') }}" alt=""/>
          </center>
        </div>
    </div>
{% endblock %}

